.quiz-form__arrow-icons {
    display: flex;
    justify-content: space-between;
    margin-top: 8rem;
}

.icon {
    color: aliceblue;
    font-size: 6rem;
    cursor: pointer;
    border-radius: 50%;
    background: #CEB5E7;
}

.icon:hover {
    background: #6A5ACD;
    box-shadow: 0 0 22px 7px rgb(106 90 205 / 65%);
}

@media (max-width: 42rem) {
    .quiz-form__arrow-icons {
        margin-top: 0;
    }

    .icon {
        font-size: 4.8rem;
    }
}
