.img__block {
    margin-bottom: 3rem;
    width: fit-content;
    border-radius: 50%;
}

.img__profile {
    height: 12rem;
    width: 12rem;
    object-fit: cover;
    border-radius: 50%;
    border: 2px solid mediumslateblue;
}

.form__edit-button {
    margin-right: 3.5rem;
    font-size: 2rem;
    padding: 1rem 2.2rem;
    border-radius: 12px;
    cursor: pointer;
    background: rgba(65, 105, 225, 0.6);
    color: #191970;
    border: 2px solid #191970;
}

.form__edit-button:hover {
    background: #191970;
    color: rgba(65, 105, 225, 1);
    border: 2px solid rgba(65, 105, 225, 1);
}

.user__item {
    display: flex;
    font-size: 2rem;
    color: steelblue;
    align-items: center;
    padding: 1rem 1rem;
    margin-bottom: 2rem;
}

.user__name-item {
    width: 12rem;
}
