.back {
  position: absolute;
  left: 21%;
  top: 3%;
  transform: translate(-50%);
}

.back__button {
  cursor: pointer;
  padding: 1.2rem;
  border-radius: 50%;
  font-size: 1.4rem;
  border: 2px solid #cfacfc;
  color: #cfacfc;
  background: midnightblue;
}

.back__button:hover {
  color: midnightblue;
  border: 2px solid midnightblue;
  background: #cfacfc;
}

.button-delete {
  cursor: pointer;
  color: #1D355D;
  background: red;
  padding: 1rem;
  position: absolute;
  top: 8rem;
  left: 19%;
  border-radius: 50%;
  font-size: 1.4rem;

}

.table {
  table-layout: fixed;
  border-collapse: collapse;
  position: absolute;top: 6rem;
  transform: translate(-50%);
}

.table__row td{
  padding: 1rem;
  font-size: 2rem;
  border: 2px solid lightcyan;
}

tbody tr:nth-child(odd) {
  background-color: #ffe4e1;
}

tbody tr:nth-child(even) {
  background-color: #cfacfc;
}

.table__link {
  text-decoration: underline;
  cursor: pointer;
}

.table__link:hover {
  color: green;
}

.table__row{
  color: midnightblue;
}

.table__header {
  font-size: 1.8rem;
  padding: 2rem 2rem 1rem 2rem;
  color: aliceblue;
  font-weight: 400;
}
