.login {
    margin-top: 8rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-buttons {
    margin-top: 2rem;
}

.login__error-message {
    position: absolute;
    text-align: center;
    word-wrap: normal;
    color: #c70606;
    font-size: 1.6rem;
    font-weight: bold;
    width: inherit;
}

.login__block-icon-globe {
    display: flex;
    justify-content: end;
    margin-top: -7rem;
    margin-right: -6rem;
}

.login__icon-globe {
    height: 28rem;
}

.login__icon-block-beach {
    margin-top: -20rem;
}

.login__icon-beach {
    width: 28rem;
}

@media (max-width: 58rem) {
    .login {
        align-items: unset;
        margin-top: 0;
    }

    .login-buttons {
        display: flex;
        justify-content: space-around;
    }

    .login__error-message {
        top: 43%;
        font-size: 1.2rem;
    }

    .login__block-icon-globe {
        display: none;
    }

    .login__icon-block-beach {
        margin-top: 0;
        margin-left: -3rem;
    }

    .login__icon-beach {
        width: 36rem;
    }
}

@media (max-width: 42rem) {
    .login__icon-block-beach {
        margin-top: 4rem;
    }

    .login__error-message {
        font-size: 1rem;
    }

    .login__icon-beach {
        width: 30rem;
    }
}