.quiz-form {
    background: white;
    height: 54.6rem;
    width: 43.2rem;
    margin-top: 1rem;
    border-radius: 24px;
    border: none;
    padding: 3.2rem;
}

.quiz-form__travel-icon {
    text-align: right;
    margin-top: -10rem;
}

.quiz-form__icon {
    height: 11.6rem;
}

.header__form {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header__form-name {
    color: #6A5ACD;
}

@media (max-width: 58rem) {
    .quiz-form {
        height: 50rem;
        width: 30rem;
    }
}

@media (max-width: 42rem) {
    .quiz-form {
        width: 24rem;
    }
}
